<%= render 'shared/admin-tab' %>
<h2>ユーザー作成</h2>
<form class="mb-5">
    <%= form_for(model: @user, local:true) do |f| %>
        <%= render "shared/error_message", model: f.object %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control mb-2", placeholder: "Enter Name" %>
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control mb-2", placeholder: "Enter Password" %>
        <label>資格</label>
        <%= f.text_field :license, class: "form-control mb-2", placeholder: "Enter Password" %>
        <div class="form-check mb-3">
            <%= f.check_box :admin,class:"form-check-input" %>
            <label class="form-check-label" for="defaultCheck1">
                管理者
            </label>
        </div>
        <%= f.submit "変更する",class:"btn btn-primary btn-block" %>
    <% end %>            
</form>