<%= render 'shared/admin-tab' %>
<h2>ユーザー作成</h2>
<form class="mb-5">
    <%= form_with(model:@user, url:admin_users_path,local:true) do |f| %>
        <%#= render "shared/error_message", model: f.object %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control mb-2", placeholder: "Enter Name" %>
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control mb-2", placeholder: "Enter Password" %>
        <label>資格</label>
        <%= f.text_field :license, class: "form-control mb-2", placeholder: "Enter Password" %>
        <div class="form-check mb-3">
            <%= f.check_box :admin,class:"form-check-input" %>
            <%= f.label :admin, "管理者",class:"form-check-label" %>
        </div>
        <%= f.submit "作成",class:"btn btn-primary btn-block" %>
    <% end %>            
</form>